body {
    color: #333;
    font-family:Helvetica;

}

.title {
    color: #222;
}

li {
    list-style: none;
}
h1 {
    padding: 20px 0 0 0px;
    font-size: 20px;


}
h1 img {
    vertical-align: middle;

    line-height: 1;


}
.img-face {
    margin: 15px 0 15px 0;

}
footer {
    height: 150px;
}
footer a {
    text-align: right;
}
.q-and-a {
    color: #222;
    border: solid 1px black;
    margin-bottom: 15px;
    padding: 20px 10px 0 10px;

}
.important {
    color: #e74c3c;
}


