body {
    color: #333;
    font-family:Helvetica;

}

li {
    list-style: none;
}
h1 {
    padding: 20px 0 0 0px;
    font-size: 20px;


}
h1 img {
    vertical-align: middle;

    line-height: 1;


}
.img-face {
    margin: 15px 0 15px 0;

}
footer {
    height: 150px;
}
footer a {
    text-align: right;
}
